body::before {
    display: block;
    content: '';
    height: 60px;
  }

  @media (min-width: 768px) {
    .news-input {
      width: 50%;
    }
  }

  @media (max-width: 578px) {
    .wrapped{
        border: 1px solid black;
        height: 35rem;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }

    .wrapped::-webkit-scrollbar{
      display: none;
    }

    .boomer{
        border: 1px solid black;
        height: 30rem;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .boomer::-webkit-scrollbar{
      display: none;
    }

    .get-short{
        font-size: 0.5rem;
    }

    .cen{
        margin-right: 2.4rem;
    }
  }

  @media all{
    .bullsover:hover{
        color: orange;

    }
  }

  
